{#- IU's standard footer compliance links, matching brand.iu.edu's footer. -#}
<div class="md-copyright">
  <div class="iu-footer-bar">
    <img class="iu-footer-trident" src="{{ 'assets/iu-trident.svg' | url }}" alt="Indiana University">
    <a href="https://accessibility.iu.edu/assistance/" target="_blank" rel="noopener">Accessibility</a>
    <a href="https://brand.iu.edu/privacy/index.html" target="_blank" rel="noopener">Privacy Notice</a>
    <span>
      <a href="https://www.iu.edu/copyright/index.html" target="_blank" rel="noopener">Copyright</a>
      &copy; {{ config.copyright }} The Trustees of
      <a href="https://www.iu.edu/index.html" target="_blank" rel="noopener">Indiana University</a>
    </span>
  </div>
</div>
